<tr>
  <td><%= event.id %></td>
  <td><%= event.latitude %></td>
  <td><%= event.longitude %></td>
  <td><%= event.description %></td>
  <td><%= event.classification %></td>
  <td><%= event.metadata %></td>
  <td><%= event.priority %></td>
</tr>
