<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Novo Evento</h1>
  </div>

  <%= simple_form_for([:admin, @event]) do |form| %>
    <%= form.input :description %>
    <%= form.input :classification, collection: Event::CLASSIFICATIONS %>
    <%= form.input :geocode, label: "Latitude", input_html: { multiple: true, value: @event.latitude } %>
    <%= form.input :geocode, label: "Longitude", input_html: { multiple: true, value: @event.longitude } %>
    <%= form.input :metadata %>
    <%= form.button :submit, class: "btn btn-primary" %>
  <% end %>
</section>

<% content_for(:page_title, "Novo Evento") %>
