<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to root_path do %>
        <%= image_tag "logo_infotrecho.png", width: "80px", height: "80px"%>
      <% end %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'St', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        <% end %>
      </li>
      <%= render 'shared/sidebar_dropdown', title: 'Eventos', icon: 'fas fa-exclamation' do %>
        <li class="<%= active_nav_item('admin/events', crud_actions) %>">
          <%= link_to "Novo", new_admin_event_path, class: "nav-link" %>
          <%= link_to "Listar", admin_events_path, class: "nav-link" %>
        </li>
      <% end %>

      <%= render 'shared/sidebar_dropdown', title: 'Motoristas', icon: 'fas fa-truck' do %>
        <li class="<%= active_nav_item('admin/drivers', crud_actions) %>">
          <%= link_to "Novo", new_admin_driver_path, class: "nav-link" %>
          <%= link_to "Listar", admin_drivers_path, class: "nav-link" %>
        </li>
      <% end %>

      <li class="menu-header">Controllers</li>
      <%= render 'shared/sidebar_dropdown', title: 'Resources', icon: 'fas fa-file-alt' do %>
      <!--
        <li class="<#= active_nav_item('customers', crud_actions) #>">
          <#= link_to 'Customers', customers_path, class: 'nav-link' #>
        </li>
      -->
      <% end %>
    </ul>
  </aside>
</div>
