<tr>
  <td> <%= trip.id %> </td>
  <td> <%= trip.driver.name %> </td>
  <td> <%= trip.origin %> </td>
  <td> <%= trip.origin_geocode %> </td>
  <td> <%= trip.destination %> </td>
  <td> <%= trip.destination_geocode %> </td>
  <td> <%= trip.created_at %> </td>
</tr>