<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Novo Percurso</h1>
  </div>

  <%= simple_form_for([:admin, @trip]) do |form| %>
    <%= form.input :driver_id, collection: @drivers%>
    <%= form.input :origin %>
    <%= form.input :origin_geocode, label: "Latitude da Origem", input_html: { multiple: true, value: @trip.origin_latitude } %>
    <%= form.input :origin_geocode, label: "Longitude da Origem", input_html: { multiple: true, value: @trip.origin_longitude } %>
    <%= form.input :destination %>
    <%= form.input :destination_geocode, label: "Latitude do Destino", input_html: { multiple: true, value: @trip.destination_latitude } %>
    <%= form.input :destination_geocode, label: "Longitude do Destino", input_html: { multiple: true, value: @trip.destination_longitude } %>
    <%= form.button :submit, class: "btn btn-primary" %>
  <% end %>
</section>

<% content_for(:page_title, "Novo Percurso") %>
